<div class="container mt-4" *ngIf="bordereau">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Détails de la bordereau</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="details-section">
            <h4>Informations générales</h4>
            <div class="details-item">
              <span class="details-label">Référence:</span>
              <span class="details-value">{{ bordereau.ref }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Numero de facture:</span>
              <span class="details-value">{{ bordereau.numFacture }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Date:</span>
              <span class="details-value">{{ bordereau.dateCreationF | date }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Nombre de prestations:</span>
              <span class="details-value">{{ bordereau.nbPrestation }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Montant totale:</span>
              <span class="details-value">{{ bordereau.montant_total }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Montant ticket moderateur:</span>
              <span class="details-value">{{ bordereau.montant_ticket_moderateur }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Montant total Remboursable:</span>
              <span class="details-value">{{ bordereau.montant_total_Remboursable }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Status:</span>
              <span class="details-value">{{ bordereau.status }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="details-section">
            <h4>Informations sur les prestations</h4>
            <div *ngIf="bordereau && bordereau.prestations">
              <div *ngFor="let prestation of bordereau.prestations">
                <div *ngIf="prestation.user && prestation.user.roles">
                  <div *ngIf="isOpticien(prestation)">
                    <div class="details-item">
                      <span class="details-label">Valeur Verre Œil Gauche:</span>
                      <span class="details-value">{{ prestation.valeurVerreOeilGauche }}</span>
                    </div>
                    <div class="details-item">
                      <span class="details-label">Valeur Verre Œil Droit:</span>
                      <span class="details-value">{{ prestation.valeurVerreOeilDroit }}</span>
                    </div>
                    <div class="details-item">
                      <span class="details-label">Valeur Monture:</span>
                      <span class="details-value">{{ prestation.valeurMonture }}</span>
                    </div>
                  </div>
                  <div *ngIf="isDentiste(prestation)">
                    <div class="details-item">
                      <span class="details-label">Clé Cotation:</span>
                      <span class="details-value">{{ prestation.cle_cotation }}</span>
                    </div>
                    <div class="details-item">
                      <span class="details-label">Montant Total:</span>
                      <span class="details-value">{{ prestation.montantTotal }}</span>
                    </div>
                    <div class="details-item">
                      <span class="details-label">Montant Remboursé:</span>
                      <span class="details-value">{{ prestation.montantRembourse }}</span>
                    </div>
                    <div class="details-item">
                      <span class="details-label">Montant Ticket Modérateur:</span>
                      <span class="details-value">{{ prestation.montant_ticket_moderateur }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="container mt-3">
        <div class="d-flex justify-content-between">
          <button class="btn btn-success" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> Retour
          </button>
          <button class="btn btn-danger" (click)="confirmDelete(bordereau.id)" data-bs-toggle="modal"
            data-bs-target="#deleteConfirmationModal">
            <i class="fas fa-trash"></i> Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmer la suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer cette bordereau ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger" (click)="deleteBordereau()"
            data-bs-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
