<div class="container mt-4">
  <h3 class="mb-4">Modifier un bénéficiaire</h3>
  <form [formGroup]="beneficiaireForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="nom" class="form-label">Nom <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="nom" formControlName="nom" [ngClass]="{'is-invalid': beneficiaireForm.get('nom').invalid && beneficiaireForm.get('nom').touched}">
        <div *ngIf="beneficiaireForm.get('nom').invalid && beneficiaireForm.get('nom').touched" class="invalid-feedback">
          Nom est obligatoire
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="prenom" class="form-label">Prénom <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="prenom" formControlName="prenom" [ngClass]="{'is-invalid': beneficiaireForm.get('prenom').invalid && beneficiaireForm.get('prenom').touched}">
        <div *ngIf="beneficiaireForm.get('prenom').invalid && beneficiaireForm.get('prenom').touched" class="invalid-feedback">
          Prénom est obligatoire
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Sexe <span class="text-danger">*</span></label>
        <select class="form-select form-control-lg" formControlName="sexe" [ngClass]="{'is-invalid': beneficiaireForm.get('sexe').invalid && beneficiaireForm.get('sexe').touched}">
          <option value="" disabled>Choisir...</option>
          <option value="Masculin" [selected]="beneficiaireForm.get('sexe').value === 'Masculin'">Masculin</option>
          <option value="Féminin" [selected]="beneficiaireForm.get('sexe').value === 'Féminin'">Féminin</option>
        </select>
        <div *ngIf="beneficiaireForm.get('sexe').invalid && beneficiaireForm.get('sexe').touched" class="invalid-feedback">
          Sexe est obligatoire
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="dateNais" class="form-label">Date de naissance <span class="text-danger">*</span></label>
        <input type="datetime-local" class="form-control" id="dateNais" formControlName="dateNais" [ngClass]="{'is-invalid': beneficiaireForm.get('dateNais').invalid && beneficiaireForm.get('dateNais').touched}">
        <div *ngIf="beneficiaireForm.get('dateNais').invalid && beneficiaireForm.get('dateNais').touched" class="invalid-feedback">
          Date de naissance est obligatoire
        </div>
        <div *ngIf="beneficiaireForm.get('dateNais').errors?.['invalidDateOfBirth']" class="invalid-feedback">La date de naissance doit être antérieure à la date actuelle</div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="qualite" class="form-label">Qualité <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="qualite" formControlName="qualite" [ngClass]="{'is-invalid': beneficiaireForm.get('qualite').invalid && beneficiaireForm.get('qualite').touched}">
        <div *ngIf="beneficiaireForm.get('qualite').invalid && beneficiaireForm.get('qualite').touched" class="invalid-feedback">
          Qualité est obligatoire
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="plafond" class="form-label">Plafond <span class="text-danger">*</span></label>
        <input type="number" class="form-control" id="plafond" formControlName="plafond" [ngClass]="{'is-invalid': beneficiaireForm.get('plafond').invalid && beneficiaireForm.get('plafond').touched}">
        <div *ngIf="beneficiaireForm.get('plafond').invalid && beneficiaireForm.get('plafond').touched" class="invalid-feedback">
          Plafond est obligatoire
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <label class="form-label">Adhérent <span class="text-danger">*</span></label>
        <select class="form-select form-control-lg" formControlName="adherant" [ngClass]="{'is-invalid': beneficiaireForm.get('adherant').invalid && beneficiaireForm.get('adherant').touched}">
          <option value="" disabled selected>Choisir...</option>
          <option *ngFor="let adherant of adherants" [value]="adherant.id">
            {{ adherant.nom }} {{ adherant.prenom }} {{ adherant.matricule }}
          </option>
        </select>
        <div *ngIf="beneficiaireForm.get('adherant').invalid && beneficiaireForm.get('adherant').touched" class="invalid-feedback">
          Adhérent est obligatoire
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="d-flex justify-content-between">
        <button class="btn btn-success" (click)="goBack()">
          <i class="fas fa-arrow-left"></i> Retour
        </button>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary me-2" [disabled]="beneficiaireForm.invalid">Enregistrer</button>
          <button type="button" class="btn btn-secondary" (click)="onReset()">Annuler</button>
        </div>
      </div>
    </div>
  </form>
</div>
