<div class="container">
  <div class="card">
    <div class="col-md-12">
      <div class="container mt-4">
        <div class="custom-navbar">
          <button class="btn btn-primary btn-rounded-rectangle-rounded-right active" type="button"
            id="ordonnanceNonFacture"
            [routerLink]="userRoleRoute === 'ROLE_OPTICIEN' ? '/menu/opt/ordonnance-non-facturee' : userRoleRoute === 'ROLE_DENTIST' ? '/menu/dent/ordonnance-non-facturee' : ''">
            Prestation non facturée
          </button>
          <button class="btn btn-primary btn-rounded-rectangle-rounded-right" type="button" id="bordereauFacture"
            [routerLink]="userRoleRoute === 'ROLE_OPTICIEN' ? '/menu/opt/bordereau-facture' : userRoleRoute === 'ROLE_DENTIST' ? '/menu/dent/bordereau-facture' : ''">
            Bordereau de facture
          </button>
        </div>
        <div class="navbar-line"></div>

        <div class="row mt-3 border border-secondary p-3 rounded">
          <div class="col-md-4">
            <div class="form-group">
              <label for="startDate">Date de début :</label>
              <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="endDate">Date de fin :</label>
              <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="filterButton" class="invisible">Filtrer</label>
              <button class="btn btn-primary w-100 " id="filterButton" (click)="filterByDate()">Filtrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped align-middle">
            <thead class="bg-light">
              <tr>
                <th><input type="checkbox" (change)="selectAll($event)" *ngIf="filteredPrestations.length > 0"></th>
                <th>Reference</th>
                <th>Matricule de l'assuré</th>
                <th>Nom de l'assuré</th>
                <th>Date de prestation</th>
                <th>Montant total</th>
                <th>Montant remboursable</th>
                <th>Type de prestation</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="!filterApplied">
                <tr>
                  <td colspan="8" class="text-center">
                    Veuillez d'abord filtrer.
                  </td>
                </tr>
              </ng-container>

              <ng-container *ngIf="filterApplied && filteredPrestations.length === 0">
                <tr>
                  <td colspan="8" class="text-center">
                    <ng-container *ngIf="endDate">
                      Aucune prestation trouvée pour la période du {{ startDate | date }} au {{ endDate | date }}.
                    </ng-container>
                    <ng-container *ngIf="!endDate">
                      Aucune prestation trouvée pour la période du {{ startDate | date }} au {{ today | date }}.
                    </ng-container>
                  </td>
                </tr>
              </ng-container>


              <ng-container *ngIf="filteredPrestations.length > 0">
                <tr *ngFor="let prestation of dataSource.data">
                  <td><input type="checkbox" [ngModel]="prestation.selected" (change)="onCheckboxChange(prestation)">
                  </td>
                  <td>{{ prestation.ref }}</td>
                  <td>{{ prestation.adherant.matricule }}</td>
                  <td>{{ prestation.adherant.nom }} {{ prestation.adherant.prenom }}</td>
                  <td>{{ prestation.dateCreation }} </td>
                  <td>{{ prestation.montantTotal }}</td>
                  <td>{{ prestation.montantRembourse }}</td>
                  <td>{{ prestation.type }}</td>
                </tr>
              </ng-container>

            </tbody>
          </table>
          <div class="form-group col-md-12 d-flex justify-content-between">
            <button class="btn btn-primary" id="validateButton" (click)="validateSelection()"
              [disabled]="!isAnyPrestationSelected()">Generer bordereau</button>
            <mat-paginator [length]="500" [pageSize]="5" [pageSizeOptions]="pageSizeOptions"
              (page)="onPageChange($event)" [pageIndex]="currentPage" [showFirstLastButtons]="true"></mat-paginator>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
