.selected {
  fill: red; /* Ou tout autre style que vous voulez appliquer à la dent sélectionnée */
}

.aligned-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.field2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.field2 span {
  text-align: left;
}

.field2 span:first-child {
  margin-right: 10px;
  flex-shrink: 0;
  width: 100px;
}


.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.predefined-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.bordered-card {
  border: 1px solid black;
  padding: 15px;
  border-radius: 2px;
}

.label {
  font-weight: bold;
  color: #333;
  white-space: nowrap;

}

.observation-value {
  margin-left: 5px;
  color: #555;
}

.qr-code-container {
  display: flex;
  align-items: center;
}

.qr-code {
  max-width: 100px;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}


.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}
