.container {
  padding: 20px;
}

/* Add blue border to each column */
.col-md-6, .col-md-4, .col-md-8 {
  padding: 15px;
}

/* Remove right border from last column */
.col-md-8 {
  border-right: none;
}

.user-data-section {
  border-bottom: 5px solid skyblue;
}

.form-label{
  border-bottom: 5px solid skyblue;
  

}

.actes {
  margin-top: 10px; /* Adjust the top margin as needed */
}

.acte-badge {
  margin-right: 5px; /* Adjust the right margin between acte badges as needed */
}


