<div class="container mt-4">
    <h3 class="mb-4">Modifier un adhérent</h3>
    <form [formGroup]="adherantForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="nom" class="form-label">Cin <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="cin" formControlName="cin" [ngClass]="{'is-invalid': adherantForm.get('cin').invalid && adherantForm.get('cin').touched}">
          <div *ngIf="adherantForm.get('cin').invalid && adherantForm.get('cin').touched" class="invalid-feedback">
            CIN est obligatoire
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="matricule" class="form-label">Matricule <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="matricule" formControlName="matricule" [ngClass]="{'is-invalid': adherantForm.get('matricule').invalid && adherantForm.get('matricule').touched}">
          <div *ngIf="adherantForm.get('matricule').invalid && adherantForm.get('matricule').touched" class="invalid-feedback">
            Matricule est obligatoire
          </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="nom" class="form-label">Nom <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="nom" formControlName="nom" [ngClass]="{'is-invalid': adherantForm.get('nom').invalid && adherantForm.get('nom').touched}">
            <div *ngIf="adherantForm.get('nom').invalid && adherantForm.get('nom').touched" class="invalid-feedback">
              Nom est obligatoire
            </div>
          </div>
        <div class="col-md-6 mb-3">
          <label for="prenom" class="form-label">Prénom <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="prenom" formControlName="prenom" [ngClass]="{'is-invalid': adherantForm.get('prenom').invalid && adherantForm.get('prenom').touched}">
          <div *ngIf="adherantForm.get('prenom').invalid && adherantForm.get('prenom').touched" class="invalid-feedback">
            Prénom est obligatoire
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Sexe <span class="text-danger">*</span></label>
          <select class="form-select form-control-lg" formControlName="sexe" [ngClass]="{'is-invalid': adherantForm.get('sexe').invalid && adherantForm.get('sexe').touched}">
            <option value="" disabled>Choisir...</option>
            <option value="Masculin" [selected]="adherantForm.get('sexe').value === 'Masculin'">Masculin</option>
            <option value="Féminin" [selected]="adherantForm.get('sexe').value === 'Féminin'">Féminin</option>
          </select>
          <div *ngIf="adherantForm.get('sexe').invalid && adherantForm.get('sexe').touched" class="invalid-feedback">
            Sexe est obligatoire
          </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="nom" class="form-label">Numéro de téléphone <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="numtel" formControlName="numtel" [ngClass]="{'is-invalid': adherantForm.get('numtel').invalid && adherantForm.get('numtel').touched}">
            <div *ngIf="adherantForm.get('numtel').invalid && adherantForm.get('numtel').touched" class="invalid-feedback">
                Numéro de téléphone est obligatoire
            </div>
          </div>
        <div class="col-md-6 mb-3">
          <label for="dateNais" class="form-label">Date de naissance <span class="text-danger">*</span></label>
          <input type="date" class="form-control" id="dateNais" formControlName="dateNais" [ngClass]="{'is-invalid': adherantForm.get('dateNais').invalid && adherantForm.get('dateNais').touched}">
          <div *ngIf="adherantForm.get('dateNais').invalid && adherantForm.get('dateNais').touched" class="invalid-feedback">
            Date de naissance est obligatoire
          </div>
          <div *ngIf="adherantForm.get('dateNais').errors?.['invalidDateOfBirth']" class="invalid-feedback">La date de naissance doit être antérieure à la date actuelle</div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="gouvNais" class="form-label">Gouvernement de naissance <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="gouvNais" formControlName="gouvNais" [ngClass]="{'is-invalid': adherantForm.get('gouvNais').invalid && adherantForm.get('gouvNais').touched}">
          <div *ngIf="adherantForm.get('gouvNais').invalid && adherantForm.get('gouvNais').touched" class="invalid-feedback">
            Gouvernement de naissance est obligatoire
          </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="paysNais" class="form-label">Pays de naissance <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="paysNais" formControlName="paysNais" [ngClass]="{'is-invalid': adherantForm.get('paysNais').invalid && adherantForm.get('paysNais').touched}">
            <div *ngIf="adherantForm.get('paysNais').invalid && adherantForm.get('paysNais').touched" class="invalid-feedback">
              Pays de naissance est obligatoire
            </div>
          </div>
        <div class="col-md-6 mb-3">
          <label for="plafond" class="form-label">Plafond <span class="text-danger">*</span></label>
          <input type="number" class="form-control" id="plafond" formControlName="plafond" [ngClass]="{'is-invalid': adherantForm.get('plafond').invalid && adherantForm.get('plafond').touched}">
          <div *ngIf="adherantForm.get('plafond').invalid && adherantForm.get('plafond').touched" class="invalid-feedback">
            Plafond est obligatoire
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <label class="form-label">Assurance <span class="text-danger">*</span></label>
          <select class="form-select form-control-lg" formControlName="assuranceId" [ngClass]="{'is-invalid': adherantForm.get('assuranceId').invalid && adherantForm.get('assuranceId').touched}">
            <option value="" disabled selected>Choisir...</option>
            <option *ngFor="let assurence of assurances" [value]="assurence.id">
              {{ assurence.nom }} 
            </option>
          </select>
          <div *ngIf="adherantForm.get('assuranceId').invalid && adherantForm.get('assuranceId').touched" class="invalid-feedback">
            Assurance est obligatoire
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="d-flex justify-content-between">
          <button class="btn btn-success" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> Retour
          </button>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary me-2" [disabled]="adherantForm.invalid">Enregistrer</button>
            <button type="button" class="btn btn-secondary" (click)="onReset()">Annuler</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  