<div class="wrapper">
  <aside id="sidebar">
    <div class="d-flex">
      <button class="toggle-btn" type="button"  (click)="toggleSidebar()">
        <i class="lni lni-grid-alt"></i>
      </button>
      <div class="sidebar-logo">
        <a class="navbar-brand" routerLink="/user/adherant">
          <img src="../../../assets/logo-bpo.png" alt="MDB Logo" />
        </a>
      </div>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a routerLink="/menu/profil" class="sidebar-link">
          <i class="lni lni-user"></i>
          <span>Profil</span>
        </a>
      </li>
      <li class="sidebar-item" *ngIf="showAdminBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#adherant">
          <i class="lni lni-users"></i>
          <span>Gestion des adherants</span>
        </a>
        <ul id="adherant" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="adherant">
          <li class="sidebar-item">
            <a routerLink="/menu/admin/adherants" class="sidebar-link"><i class="lni lni-list"></i> Liste des adherants</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/menu/admin/ajoutadherant" class="sidebar-link"><i class="lni lni-plus"></i> Ajouter adherant</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item" *ngIf="showAdminBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#beneficiaire">
          <i class="lni lni-users"></i>
          <span>Gestion des bénéficiaires</span>
        </a>
        <ul id="beneficiaire" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="adherant">
          <li class="sidebar-item">
            <a routerLink="/menu/admin/beneficiaire" class="sidebar-link"><i class="lni lni-list"></i> Liste des bénéficiaires</a>
          </li>
        </ul>
      </li>


      <li class="sidebar-item" *ngIf="showAdminBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#user">
          <i class="lni lni-users"></i>
          <span>Gestion des PS</span>
        </a>
        <ul id="user" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar" aria-expanded="false"
          aria-controls="user">
          <li class="sidebar-item">
            <a routerLink="/menu/admin/ps" class="sidebar-link"><i class="lni lni-list"></i> Liste des PS</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/menu/admin/ajoutps" class="sidebar-link"><i class="lni lni-plus"></i> Ajouter compte PS</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item" *ngIf="showAdminBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#reclamation">
          <i class="lni lni-warning"></i>
          <span>Gestion des réclamations</span>
        </a>
        <ul id="reclamation" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="reclamation">
          <li class="sidebar-item">
            <a routerLink="/menu/admin/reclamations" class="sidebar-link"><i class="lni lni-list"></i> Liste des
              réclamations</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/reclamation/suggesions" class="sidebar-link"><i class="lni lni-list"></i> Liste des
              suggestions</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item" *ngIf="showAdminBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#prestation">
          <i class="fas fa-file-powerpoint"></i>
          <span>Gestion des prestations</span>
        </a>
        <ul id="prestation" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="reclamation">
          <li class="sidebar-item">
            <a routerLink="/menu/admin/prestationDentist" class="sidebar-link"><i class="lni lni-list"></i> Prestation ordinaire</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/prestation/cont" class="sidebar-link"><i class="lni lni-list"></i> Prestation contre
              visite</a>
          </li>
        </ul>
      </li>



      <li class="sidebar-item" *ngIf="showAdminBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#bordereaux">
          <i class="lni lni-users"></i>
          <span>Gestion des bordereaux</span>
        </a>
        <ul id="bordereaux" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="adherant">
          <li class="sidebar-item">
            <a routerLink="/menu/admin/bordereaux" class="sidebar-link"><i class="lni lni-list"></i> Liste des bordereaux</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item" *ngIf="showAdminBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#bordereaux">
          <i class="lni lni-users"></i>
          <span>Gestion des nomenclatures</span>
        </a>
        <ul id="nomenclature" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="adherant">
          <li class="sidebar-item">
            <a routerLink="/menu/admin/listNomenclature" class="sidebar-link"><i class="lni lni-list"></i> Liste des nomenclatures</a>
          </li>
        </ul>
      </li>


      <li class="sidebar-item" *ngIf="showAdminBoard">
        <a href="#" class="sidebar-link">
          <i class="lni lni-popup"></i>
          <span>Gestion des notifications</span>
        </a>
      </li>

      <!-- --------------------------------------menu opticien---------------------------------------------- -->
      <li class="sidebar-item" *ngIf="showOpticienBoard">
        <a routerLink="/menu/opt/ajoutPrestOpt" class="sidebar-link">
          <i class="fas fa-plus-circle"></i>
          <span>Ajouter prestation</span>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="showOpticienBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#prestation">
          <i class="fas fa-file-powerpoint"></i>
          <span>Historique</span>
        </a>
        <ul id="prestation" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="reclamation">
          <li class="sidebar-item">
            <a routerLink="/menu/opt/ordonnance-non-facturee" class="sidebar-link"><i class="fas fa-tasks"></i> Prestations</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/prestation/cont" class="sidebar-link"><i class="fas fa-file-alt"></i> Bordereaux</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item" *ngIf="showOpticienBoard">
        <a routerLink="/menu/reclamation" class="sidebar-link">
          <i class="fas fa-exclamation-circle"></i>
          <span>Réclamations</span>
        </a>
      </li>
      <!-- --------------------------------------menu Dentiste---------------------------------------------- -->
      <li class="sidebar-item" *ngIf="showDentistBoard">
        <a routerLink="/menu/dent/ajoutpre" class="sidebar-link">
          <i class="fas fa-plus-circle"></i>
          <span>Ajouter prestation</span>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="showDentistBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#prestation">
          <i class="fas fa-file-powerpoint"></i>
          <span>Historique</span>
        </a>
        <ul id="prestation" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="reclamation">
          <li class="sidebar-item">
            <a routerLink="/menu/dent/ordonnance-non-facturee" class="sidebar-link"><i class="fas fa-tasks"></i> Prestations</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/prestation/cont" class="sidebar-link"><i class="fas fa-file-alt"></i> Bordereaux</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item" *ngIf="showDentistBoard">
        <a routerLink="/menu/reclamation" class="sidebar-link">
          <i class="fas fa-exclamation-circle"></i>
          <span>Réclamations</span>
        </a>
      </li>
      <!-- --------------------------------------menu DentisteControlleur---------------------------------------------- -->
      <li class="sidebar-item" *ngIf="showDentistControleurBoard">
        <a routerLink="/menu/dentc/ajoutPrestD" class="sidebar-link">
          <i class="fas fa-plus-circle"></i>
          <span>Ajouter prestation contre visite</span>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="showDentistControleurBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#prestation">
          <i class="fas fa-file-powerpoint"></i>
          <span>Rapport</span>
        </a>
        <ul id="prestation" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="reclamation">
          <li class="sidebar-item">
            <a routerLink="/menu/dentc/prestationNonFactrureOC" class="sidebar-link"><i class="fas fa-tasks"></i>  Prestation non facturées</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/menu/dentc/bordoreauxFactOC" class="sidebar-link"><i class="fas fa-file-alt"></i> Bordereaux contre
              visite</a>
            <a routerLink="/menu/dentc/historiqueRapport" class="sidebar-link"><i class="fas fa-tasks"></i> Historique des rapports</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/menu/dentc/rapport" class="sidebar-link"><i class="fas fa-file-alt"></i> Ajouter un rapport
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item" *ngIf="showOpticienBoard">
        <a routerLink="/menu/reclamation" class="sidebar-link">
          <i class="fas fa-exclamation-circle"></i>
          <span>Réclamations</span>
        </a>
      </li>

      <!-- --------------------------------------menu OpticienControlleur---------------------------------------------- -->
      <li class="sidebar-item" *ngIf="showOpticienControleurBoard">
        <a routerLink="/menu/optc/ajoutpreC" class="sidebar-link">
          <i class="fas fa-plus-circle"></i>
          <span>Ajouter prestation contre visite</span>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="showOpticienControleurBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#prestation">
          <i class="fas fa-file-powerpoint"></i>
          <span>Historique</span>
        </a>
        <ul id="prestation" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar"
          aria-expanded="false" aria-controls="reclamation">
          <li class="sidebar-item">
            <a routerLink="/menu/optc/prestationCOntreVisite" class="sidebar-link"><i class="fas fa-tasks"></i>  historique Prestations contre
              visite</a>
          </li>

          <li class="sidebar-item">
            <a routerLink="/menu/optc/prestationNonFactrureOC" class="sidebar-link"><i class="fas fa-tasks"></i>  Prestation non facturées</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/menu/optc/bordoreauxFactOC" class="sidebar-link"><i class="fas fa-file-alt"></i> Bordereaux contre
              visite</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item" *ngIf="showOpticienBoard">
        <a routerLink="/menu/reclamation" class="sidebar-link">
          <i class="fas fa-exclamation-circle"></i>
          <span>Réclamations </span>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="!showAdminBoard">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#profil">
          <i class="fas fa-file-powerpoint"></i>
          <span>compte</span>
        </a>
        <ul id="profil" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar" aria-expanded="false"
          aria-controls="reclamation">
          <li class="sidebar-item">
            <a routerLink="/menu/profil" class="sidebar-link"><i class="fas fa-tasks"></i> mon profil</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/prestation/cont" class="sidebar-link"><i class="fas fa-file-alt"></i> changer mot de
              passe</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer" *ngIf="isSidebarExpanded" >
      <div class="d-flex align-items-center">
        <div class="user-profile">
          <i class="fas fa-user-md fa-3x"></i>
          <!-- Doctor icon -->
        </div>
        <div class="user-info">
          <span class="user-name">{{ users.prenom }} </span>
          <button class="logout-button" (click)="logout()">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
          </button>
        </div>
      </div>
    </div>
  </aside>
  <div class="main p-3">
    <div class="text-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
