<div class="card">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">Liste des bénéficiaires</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped align-middle">
        <!-- En-têtes de colonne -->
        <thead class="bg-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Sexe</th>
            <th scope="col">Date Naissance</th>
            <th scope="col">Plafond</th>
            <th scope="col">Qualité</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <!-- Corps du tableau -->
        <tbody>
          <tr *ngFor="let beneficiaire of beneficiaires">
            <td>{{ beneficiaire.nom }}</td>
            <td>{{ beneficiaire.prenom }}</td>
            <td>{{ beneficiaire.sexe }}</td>
            <td>{{ beneficiaire.dateNais }}</td>
            <td>{{ beneficiaire.plafond }}</td>
            <td>{{ beneficiaire.qualite }}</td>
            <td>
              <button class="btn btn-danger" (click)="confirmDelete(beneficiaire)" data-bs-toggle="modal"
                data-bs-target="#deleteConfirmationModal">
                <i class="fas fa-trash-alt"></i>
              </button>
              <button class="btn btn-success" (click)="UpdateBeneficiareDetails(beneficiaire.id)">
                <i class="fa fa-pencil-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-success" (click)="addButton()">
      <i class="fas fa-arrow-left"></i> Ajouter Beneficiaire
    </button>
  </div>
</div>


<!-- Modèle de confirmation de suppression -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmer la suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer ce bénéficiaire ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteBeneficiaire()"
          data-bs-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>
