<html class="no-js" lang="zxx">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Title -->
        <title>Mediplus - Free Medical and Doctor Directory HTML Template.</title>

		<!-- Favicon -->
        <link rel="icon" href="../../../assets/img/favicon.png">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    </head>

    <body>


      <section class="slider">
        <div class="hero-slider">


          <!-- Start End Slider -->
          <!-- Start Single Slider -->
          <div class="single-slider" style="background-image:url('../../../assets/img/slider3.jpg')">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <div class="text">
                    <h1>nous offrons  <span>des services medicaux de Confiance!</span></h1>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Slider -->
        </div>
      </section>
      <!--/ End Slider Area -->

      <!-- Start Schedule Area -->
      <section class="schedule">
        <div class="container">
          <div class="schedule-inner">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 ">
                <!-- single-schedule -->
                <div class="single-schedule first">
                  <div class="inner">
                    <div class="icon">
                      <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="single-content">
                      <span>Nos Prestations</span>
                      <h4>Cas d'Urgence</h4>
                      <p>Nous assurons une prise en charge rapide et efficace pour tous les cas d'urgence. Notre équipe de professionnels de santé est disponible 24/7 pour répondre à vos besoins urgents.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <!-- single-schedule -->
                <div class="single-schedule middle">
                  <div class="inner">
                    <div class="icon">
                      <i class="icofont-prescription"></i>
                    </div>
                    <div class="single-content">
                      <span>Horaire</span>
                      <h4>Horaire des Médecins</h4>
                      <p>Planifiez vos rendez-vous en fonction des horaires de disponibilité de nos médecins. Nous offrons une flexibilité pour mieux vous servir.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12">
                <!-- single-schedule -->
                <div class="single-schedule last">
                  <div class="inner">
                    <div class="icon">
                      <i class="icofont-ui-clock"></i>
                    </div>
                    <div class="single-content">
                      <span>Heures</span>
                      <h4>Heures d'Ouverture
                      </h4>
                      <ul class="time-sidual">
                        <li class="day">Lundi - Vendredi : <span>8h00 - 20h00</span></li>
                        <li class="day">Samedi : <span>9h00 - 18h30</span></li>
                        <li class="day">Dimanche : <span>9h00 - 15h00</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="Feautes section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h2>Nous Sommes Toujours Prêts à Vous Aider, Vous et Votre Famille
                </h2>
                <img src="../../../assets/img/section-img.png" alt="#">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-12">
              <!-- Start Single features -->
              <div class="single-features">
                <div class="signle-icon">
                  <i class="lni lni-hand"></i>
                </div>
                <h3>Aide d'Urgence
                </h3>
                <p>Nous fournissons une assistance immédiate pour toutes les situations critiques. Nos professionnels de santé sont formés pour intervenir rapidement et efficacement.</p>
              </div>
              <!-- End Single features -->
            </div>
            <div class="col-lg-4 col-12">
              <!-- Start Single features -->
              <div class="single-features">
                <div class="signle-icon">
                  <i class="lni lni-first-aid"></i>
                </div>
                <h3>Pharmacie Enrichie</h3>
                <p>Notre pharmacie est équipée de tous les médicaments nécessaires pour vos traitements. Nous assurons une disponibilité constante des produits essentiels.</p>
              </div>
              <!-- End Single features -->
            </div>
            <div class="col-lg-4 col-12">
              <!-- Start Single features -->
              <div class="single-features last">
                <div class="signle-icon">
                  <i class="lni lni-capsule"></i>
                </div>
                <h3>Traitement Médical</h3>
                <p>Nous offrons une gamme complète de traitements médicaux, adaptée à chaque patient. Nos professionnels de santé utilisent les dernières technologies et méthodes pour garantir les meilleurs soins possibles..</p>
              </div>
              <!-- End Single features -->
            </div>
          </div>
        </div>
      </section>




    </body>
