<div class="card">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">Ajouter un rapport Contre visite dentiste</h2>
    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fas fa-search"></i>
      </span>
      <input type="text" class="form-control" placeholder="Rechercher par matricule d'adhérent"
        [(ngModel)]="searchMatricule" (keyup)="applyMatriculeFilter()" />
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped align-middle">
        <thead class="bg-light">
          <tr>
            <th colspan="3" scope="colgroup">Réalisé par :</th>
            <th colspan="4">Informations sur l'adhérent :</th>
            <th colspan="3">Informations sur le bénéficiaire :</th>
            <th colspan="2"></th>
          </tr>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Matricule</th>
            <th scope="col">Email</th>
            <th scope="col">Nom et Prénom</th>
            <th scope="col">Matricule Adhérent</th>
            <th scope="col">Plafond Adhérent</th>
            <th scope="col">Contre visite</th>
            <th scope="col">Nom</th>
            <th scope="col">Qualité</th>
            <th scope="col">Plafond</th>
            <th scope="col">Actes Associés</th>
            <th scope="col">select</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prestation of dataSource.data">
            <td>{{ prestation.user.nom }} {{ prestation.user.prenom }}</td>
            <td>{{ prestation.user.matricule }}</td>
            <td>{{ prestation.user.email }}</td>
            <td>
              {{ prestation.adherant.nom }} {{ prestation.adherant.prenom }}
            </td>
            <td>{{ prestation.adherant.matricule }}</td>
            <td>{{ prestation.adherant.plafond }}</td>
            <td>{{ prestation.contreVisite }}</td>
            <ng-container *ngIf="prestation.beneficiaire">
              <td>
                {{ prestation.beneficiaire.nom }}
                {{ prestation.beneficiaire.prenom }}
              </td>
              <td>{{ prestation.beneficiaire.qualite }}</td>
              <td>{{ prestation.beneficiaire.plafond }}</td>
            </ng-container>
            <ng-container *ngIf="!prestation.beneficiaire">
              <td colspan="3" class="text-center">Pas d'Informations</td>
            </ng-container>
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let acte of prestation.actes">
                  <span class="badge" [ngClass]="getRoleBadgeClass(acte.nom)">{{
                    acte.nom
                    }}</span>
                </li>
              </ul>
            </td>
            <td>
              <mat-checkbox [(ngModel)]="prestation.selected" (change)="onCheckboxChange(prestation)"
                [disabled]="prestation.disabled">
              </mat-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group col-md-12 d-flex justify-content-between">
        <button class="btn btn-primary" (click)="addReport()" [disabled]="!hasSelection()">Ajouter un rapport</button>
        <mat-paginator [length]="500" [pageSize]="5" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"
          [pageIndex]="currentPage" [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
