/* Styling for the table */
.table {
    border: 2px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  .table th,
  .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }

  .table th {
    background-color: #f2f2f2;
  }

  /* Styling for paragraphs */
  p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  h2 {
    color: #333;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  /* Additional styling */
  .container {
    padding: 20px;
  }

  .card {
    border: 2px solid #ccc;
    border-radius: 10px;
  }

  .navbar {
    margin-bottom: 20px;
  }

  .navbar-brand img {
    border-radius: 5px;
  }

  .navbar-text h2 {
    margin: 0;
  }

  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .table th,
    .table td {
      padding: 6px;
    }

    p {
      font-size: 14px;
    }

    h2 {
      font-size: 20px;
    }
  }

  .info-section {
    display: flex;
    justify-content: space-between;
  }

  .info-section > div {
    flex: 1;
  }

  .optician-section {
    margin-top: 120px;
    padding-top: 120px;

    text-align: right;
  }

  .optician-section p {
    color: #000; /* Black text color */
  }

  .h2 {
    font-size: 50px;

  }


  /* Custom CSS to improve the design */
#pdfSection {
  margin-top: 20px; /* Adjust the top margin as needed */
}

.font-size-12 {
  font-size: 16px; /* Set the font size to 12px */
}

.optician-section {
  margin-top: 30px; /* Adjust the top margin as needed */
}

.field2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.field2 span {
  text-align: left;
}

.field2 span:first-child {
  margin-right: 10px;
  flex-shrink: 0;
  width: 100px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}


.bordered-card {
  border: 1px solid black;
  padding: 15px;
  border-radius: 2px;
}

.label {
  font-weight: bold;
  color: #333;
  white-space: nowrap;

}

.observation-value {
  margin-left: 5px;
  color: #555;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code {
  max-width: 100px;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}

.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}






