.dialog-content {
  padding: 10px; /* Réduire la valeur du padding */
}

.page-container {
  margin-bottom: 10px; /* Réduire la valeur de la marge */
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
}

.summary-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
}

.summary-item span:first-child {
  font-weight: bold;
}

.title {
  font-size: 16px; /* Réduire légèrement la taille de la police */
  margin-bottom: 5px; /* Réduire la marge inférieure */
}

.next-button {
  margin-top: 5px; /* Réduire l'espacement vers le haut */
}

.form-container {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 14px; /* Réduire légèrement la taille de la police */
  margin-bottom: 3px; /* Réduire la marge inférieure */
}

.acte-card {
  margin-bottom: 10px; /* Réduire la marge inférieure */
}

.input-field {
  width: 100%;
  margin-bottom: 5px; /* Réduire la marge inférieure */
}

.input-field-cal {
  width: calc(100% - 2.5px); /* Réduire légèrement la largeur avec un espace réduit */
  margin-bottom: 5px; /* Réduire la marge inférieure */
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
  margin-right: 1px;
  position: relative; /* Pour que l'élément enfant utilise la position relative */

}

.calculate-button {
  margin-top: 5px; /* Réduire l'espacement vers le haut */

}

.result-container {
  margin-top: 10px; /* Réduire légèrement l'espacement vers le haut */
}

.result {
  margin-bottom: 5px; /* Réduire la marge inférieure */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}
