<!-- Dialog content -->
<div class="dialog-content">
  <!-- Première page -->
  <div *ngIf="!showSecondPage" class="page-container">
    <h3 *ngIf="!data.isBeneficiaire" class="title">
      Vous êtes sur le point d'ajouter une consultation pour l'adhérent
      {{ adherant?.nom }} {{ adherant?.prenom }} avec le matricule
      {{ adherant?.matricule }}
    </h3>
    <h3 *ngIf="data.isBeneficiaire" class="title">
      Vous êtes sur le point d'ajouter une consultation pour le beneficiaire de
      l'adhérent {{ adherant?.nom }} {{ adherant?.prenom }} avec le matricule
      {{ adherant?.matricule }}
    </h3>
    <ng-container *ngIf="data.isBeneficiaire">
      <div class="summary-item">
        <span>Bénéficiaire :</span>
        <span>{{ adherant?.beneficiaires[selectedBeneficiaireIndex].nom }}
          {{ adherant?.beneficiaires[selectedBeneficiaireIndex].prenom }}</span>
      </div>
      <div class="summary-item">
        <span>Date naissance :</span>
        <span>{{
          adherant?.beneficiaires[selectedBeneficiaireIndex].dateNais
          }}
        </span>
      </div>
      <div class="summary-item">
        <span>Qualité :</span>
        <span>{{ adherant?.beneficiaires[selectedBeneficiaireIndex].qualite }}
        </span>
      </div>
      <div class="summary-item">
        <span>Sexe :</span>
        <span>{{ adherant?.beneficiaires[selectedBeneficiaireIndex].sexe }}
        </span>
      </div>
    </ng-container>
    <button mat-stroked-button class="next-button" (click)="showSecondPage = true">
      Suivant
    </button>
  </div>

  <!-- Deuxième page -->
  <div *ngIf="showSecondPage" class="page-container">
    <form [formGroup]="dentaireForm" class="form-container">
      <h3 class="section-title">Date Consultation :</h3>
      <mat-form-field class="input-field">
        <input matInput [value]="currentDate" disabled />
      </mat-form-field>
      <h3 class="section-title">Actes Dentaires :</h3>
      <mat-card class="acte-card">
        <mat-card-content>
          <mat-checkbox *ngFor="let acte of actesDentaires" [checked]="acte.selected" [disabled]="acte.disabled"
            (change)="toggleActeSelection(acte)">
            {{ acte.name }}
          </mat-checkbox>
        </mat-card-content>
      </mat-card>

      <div *ngIf="showFormControls">
        <div class="flex-container">
          <div class="flex-item">
            <h3 class="section-title">Cle de cotisation :</h3>
            <mat-form-field class="input-field-cal">
              <input matInput value="D" disabled />
            </mat-form-field>
          </div>
          <div class="flex-item">
            <h3 class="section-title">Total de cotation :</h3>
            <mat-form-field class="input-field-cal">
              <input matInput placeholder="Total de cotation" formControlName="totalCot" />
            </mat-form-field>
            <div *ngIf="plafondErrorMessage" class="error-message below-input">
              {{ plafondErrorMessage }}
            </div>
          </div>

        </div>

        <button mat-stroked-button class="calculate-button" (click)="calculer()"
          [disabled]="!isCalculateButtonEnabled()">
          Calculer
        </button>
      </div>

      <div *ngIf="showCalculation" class="result-container">
        <div class="result">
          <h3 class="section-title">Total ordonnance en TND :</h3>
          <mat-form-field class="input-field">
            <input matInput value="{{ totalOrdonnance }}" disabled />
          </mat-form-field>
        </div>
        <div class="result">
          <h3 class="section-title">Montant Ticket modérateur en TND :</h3>
          <mat-form-field class="input-field">
            <input matInput value="{{ montantTicketModerateur }}" disabled />
          </mat-form-field>
        </div>
        <div class="result">
          <h3 class="section-title">
            Montant remboursé par I-way Solutions en TND :
          </h3>
          <mat-form-field class="input-field">
            <input matInput value="{{ montantRembourse }}" disabled />
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" class="next-button" [disabled]="!isNextButtonEnabled() "
        (click)="openResumeDialog()">
        Suivant
      </button>
    </form>
  </div>
</div>
