.container {
    padding: 20px;
  }
  .text-left {
    text-align: left !important;
  }
  
  .col-md-6, .col-md-4, .col-md-8 {
    padding: 15px;
  }
  
  .col-md-12{
    padding-top: 10px;
  }
  
  .col-md-8 {
    border-right: none;
  }
  
  .form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-rounded-rectangle-rounded-right {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px 12px;
    margin-right: 5px;
  
  }
  
  
  .btn-rounded-rectangle-rounded-right:focus, .btn-rounded-rectangle-rounded-right:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  .btn-rounded-rectangle-rounded-left:focus, .btn-rounded-rectangle-rounded-left:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  .navbar-line {
    height: 2px;
    background-color: #657c95;
    margin-top: px;
  }
  
  .custom-navbar {
    display: flex;
    justify-content: flex-start;
  
  }
  
  .navbar-text{
    color: rgb(90, 79, 79);
    font-style: italic;
  
  }
  
  /* Styling for the table */
  .table {
    border: 2px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  /* Styling for paragraphs */
  p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /* Additional styling */
  .container {
    padding: 20px;
  }
  
  .card {
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .navbar-brand img {
    border-radius: 5px;
  }
  
  .navbar-text h2 {
    margin: 0;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .table th,
    .table td {
      padding: 6px;
    }
  
    p {
      font-size: 14px;
    }
  
    h2 {
      font-size: 20px;
    }
  }
  
  .container {
    padding: 20px;
  }
  
  .card {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .navbar-brand img {
    border-radius: 5px;
  }
  
  h2, h4 {
    color: #333;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .border-bottom {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
  }
  
  