<div class="container mt-4">
  <h3 class="mb-4 text-center">Ajouter une réclamation</h3>
  <form [formGroup]="reclamationForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12 mb-3">
        <label>Type <span class="text-danger">*</span></label>
        <mat-radio-group aria-label="Select an option" formControlName="type">
          <mat-radio-button value="suggestions">Suggestions</mat-radio-button>
          <mat-radio-button value="reclamations">Réclamations</mat-radio-button>
        </mat-radio-group>
        <div class="text-danger" *ngIf="reclamationForm.controls['type'].invalid && reclamationForm.controls['type'].touched">
          Type is required
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Convention <span class="text-danger">*</span></mat-label>
          <mat-select formControlName="convention">
            <mat-option value="">-Aucun-</mat-option>
            <mat-option value="CTF">CTF</mat-option>
            <mat-option value="BIAT ASSURANCE">BIAT ASSURANCE</mat-option>
            <mat-option value="Agence de mise en ..">CNAM</mat-option>
          </mat-select>
          <mat-error *ngIf="reclamationForm.controls['convention'].invalid && reclamationForm.controls['convention'].touched">
            Convention is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 mb-3">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Qualifications <span class="text-danger">*</span></mat-label>
          <mat-select formControlName="qualifications">
            <mat-option value="">-Choisir une valeur-</mat-option>
            <mat-option value="Retard dans le traitement du dossier">Retard dans le traitement du dossier</mat-option>
            <mat-option value="on satisfaction de la qualité de service">Non satisfaction de la qualité de service	</mat-option>
            <mat-option value="Non satisfaction du taux de remboursement">Non satisfaction du taux de remboursement</mat-option>
            <mat-option value="Demande état d'avancement d'un dossier de remboursement">Demande état d'avancement d'un dossier de remboursement</mat-option>
            <mat-option value="Demande détails de rembousement">Demande détails de rembousement</mat-option>
            <mat-option value="Demande information sur le tableau de prestation">Demande information sur le tableau de prestation</mat-option>
            <mat-option value="Demande modification d'adhésion">Demande modification d'adhésion</mat-option>
            <mat-option value="Dépot complément d'adhésion">Dépot complément d'adhésion</mat-option>
            <mat-option value="Dépot complément dossier de rremboursement">Dépot complément dossier de rremboursement</mat-option></mat-select>
          <mat-error *ngIf="reclamationForm.controls['qualifications'].invalid && reclamationForm.controls['qualifications'].touched">
            Qualifications are required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12 mb-3">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Description <span class="text-danger">*</span></mat-label>
          <textarea matInput formControlName="description" placeholder="Ex. It makes me feel..."></textarea>
          <mat-error *ngIf="reclamationForm.controls['description'].invalid && reclamationForm.controls['description'].touched">
            Description is required and must be at least 20 characters long
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Ajouter</button>
      <button type="button" class="btn btn-secondary" (click)="onReset()">Réinitialiser</button>
      <button class="btn btn-success" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Retour
      </button>
    </div>
  </form>
</div>
