.container {
  max-width: 600px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.full-width {
  width: 100%;
}

.btn {
  margin: 10px;
}

.text-danger {
  color: red;
}

button.mat-raised-button {
  margin: 0 8px;
}
