.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px !important;
}

.divider {
  margin-top: 10px !important;
}

.mat-step-header {
  pointer-events: none !important;
}

.reset-page {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.w-95 {
  width: 95%;
  margin-left: 20px;
}

.text-center {
  text-align: center;
}

.reset-form {
  padding: 60px;
  background: #fff;
  width: 900px;
  box-shadow: 0 0 40px #ddd;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
}

.mat-raised-button {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

mat-icon {
  color: gray;
}

/* Nouveaux styles */
mat-list-item {
  display: flex;
  align-items: center;
}

mat-list-item .badge {
  margin-right: 10px;
}

mat-list-item .badge-primary {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}

mat-list-item .badge-pill {
  border-radius: 50px;
}


.mat-list-item {
  white-space: normal;
}

.form-container button[mat-button] {
  display: flex;
  align-items: center;
}

.form-container button[mat-button] mat-spinner {
  margin-left: 10px;
}
