<div class="dialog-content">
  <div class="page-container">
    <!-- Contenu du résumé -->
    <div class="summary-container">
      <div class="summary-item">
        <span>Adhérent :</span>
        <span>{{ data.adherant?.nom }} {{ data.adherant?.prenom }} </span>
      </div>
      <ng-container *ngIf="data.isBeneficiaire">
        <div class="summary-item">
          <span>Bénéficiaire :</span>
          <span>{{ data.adherant.beneficiaires[data.selectedBeneficiaireIndex].nom }} {{ data.adherant.beneficiaires[data.selectedBeneficiaireIndex].prenom }} </span>
        </div>
      </ng-container>
      <div class="summary-item">
        <span>Matricule :</span>
        <span>{{ data.adherant?.matricule }}</span>
      </div>
      <div class="summary-item">
        <span>Actes dentaires choisis :</span>
        <span> {{ getActesDentairesChoisis() }}</span>
      </div>
      <div class="summary-item">
        <span>Clé de cotisation :</span>
        <span>D</span>
      </div>
      <div class="summary-item">
        <span>Total ordonnance en TND :</span>
        <span>{{ data.totalOrdonnance }}</span>
      </div>
      <div class="summary-item">
        <span>Montant Ticket modérateur en TND :</span>
        <span>{{ data.montantTicketModerateur }}</span>
      </div>
      <div class="summary-item">
        <span>Montant remboursé par I-way Solutions en TND :</span>
        <span>{{ data.montantRembourse }}</span>
      </div>
    </div>
    <div class="action-buttons">
      <button mat-button (click)="onNoClick()">Précédent</button>
       <button mat-button [mat-dialog-close]="true" (click)="validerPrestation(data.isBeneficiaire)">Valider</button>
    </div>
  </div>
</div>
