.card-header {
  padding: 15px;
}

.card-body {
  padding: 20px;
}

.details-section {
  margin-bottom: 20px;
}

.details-item {
  margin-bottom: 10px;
}

.details-label {
  font-weight: bold;
}

.details-value {
  margin-left: 10px;
}

.actes .badge {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
