<div class="container mt-4" *ngIf="prestation">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Détails de la prestation</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="details-section">
            <h4>Informations générales</h4>
            <div class="details-item">
              <span class="details-label">ID:</span>
              <span class="details-value">{{ prestation.id }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Date de création:</span>
              <span class="details-value">{{
                prestation.dateCreation | date
                }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Montant total:</span>
              <span class="details-value">{{ prestation.montantTotal }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Montant remboursé:</span>
              <span class="details-value">{{
                prestation.montantRembourse
                }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Montant ticket modérateur:</span>
              <span class="details-value">{{
                prestation.montant_ticket_moderateur
                }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Clé de cotation:</span>
              <span class="details-value">{{ prestation.cle_cotation }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Contre-visite:</span>
              <span class="details-value">{{
                prestation.contreVisite ? "Oui" : "Non"
                }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="details-section">
            <h4>Informations sur l'adhérent</h4>
            <div class="details-item">
              <span class="details-label">Nom:</span>
              <span class="details-value">{{ prestation.adherant.nom }}
                {{ prestation.adherant.prenom }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Matricule:</span>
              <span class="details-value">{{
                prestation.adherant.matricule
                }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Plafond:</span>
              <span class="details-value">{{
                prestation.adherant.plafond
                }}</span>
            </div>
            <div class="details-item">
              <span class="details-label">Num tel:</span>
              <span class="details-value">{{
                prestation.adherant.numtel
                }}</span>
            </div>
            <h4 class="mt-4">Informations sur le bénéficiaire</h4>
            <div *ngIf="prestation.beneficiaire; else noBeneficiary">
              <div class="details-item">
                <span class="details-label">Nom:</span>
                <span class="details-value">{{ prestation.beneficiaire.nom }}
                  {{ prestation.beneficiaire.prenom }}</span>
              </div>
              <div class="details-item">
                <span class="details-label">Qualité:</span>
                <span class="details-value">{{
                  prestation.beneficiaire.qualite
                  }}</span>
              </div>
              <div class="details-item">
                <span class="details-label">Plafond:</span>
                <span class="details-value">{{
                  prestation.beneficiaire.plafond
                  }}</span>
              </div>
            </div>
            <ng-template #noBeneficiary>
              <p class="mt-3">Pas d'informations sur le bénéficiaire</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div  *ngIf="prestation.actes.length !== 0">
        <h4>Actes associés</h4>
        <div class="actes">
          <span class="badge bg-secondary" *ngFor="let acte of prestation.actes">
            {{ acte.nom }}
          </span>
        </div>
      </div>
      <hr />
      <div class="container mt-3">
        <div class="d-flex justify-content-between">
          <button class="btn btn-success" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> Retour
          </button>
          <button class="btn btn-danger" (click)="confirmDelete(prestation.id)" data-bs-toggle="modal"
            data-bs-target="#deleteConfirmationModal">
            <i class="fas fa-trash"></i> Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmer la suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer cette prestation ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger" (click)="deletePrestation()"
            data-bs-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
